---
layout: page
---
<article class="c-article">
    <header class="c-article__header">
        <h1 class="c-article__title">{{ page.title }}</h1>
        <p class="c-article__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    </header>
    <div class="c-article__main">
        {{ content }}
    </div>
	    <script>
		    (function() { // DON'T EDIT BELOW THIS LINE
		    var d = document, s = d.createElement('script');

		    s.src = '//viraljogani.disqus.com/embed.js';

		    s.setAttribute('data-timestamp', +new Date());
		    (d.head || d.body).appendChild(s);
		    })();
	    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <footer class="c-article__footer">
        <p>
        {% for tag in page.tags %}
            <span class="c-tag">{{ tag }}</span>
        {% endfor %}
        </p>
    </footer>
</article>
